@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
     transition: opacity 2s ease-in;
     line-height: 120%;
     box-sizing: border-box;
}

.youtube-embed {
    text-align: center;
}

#pageid {
    display: none;
}

.first {
    margin-top: 50%;
}

::selection {
    background-color: #AFBDEE;
    color: black;
}

body {
    margin: 0;
    background-color: #1C2543;
    overflow-x: hidden;
    height: fit-content;
}

p {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    color: white;
    line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color: white;
}

h4 {
    font-weight: 200;
}

.highlight {
    background-color: #FFEE00;
    color: black;
    padding: .5% .5% .5% .5%;
}

a {
    color: white;
}

a:visited {
    color: white;
}

figure {
    margin: 5% 0 5% 0;
}

figure img {
    max-width: 100%;
}

figcaption {
    color: white;
    font-style: italic;
}

/* MENU STYLING */

.menu {
    display: block;
    padding-bottom: 2.5%;
    margin: 0 15% 15% 15%;
    z-index: 99;
}

.menu h2 {
    margin-bottom: .5%;
    font-size: 200%;
}

.menu h3 {
    margin-bottom: .5%;
    justify-self: end;
    font-size: 125%;
    align-self: end;
}

.info {
    display: grid;
    grid-template-columns: .3fr 5fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: white 5px solid;
}

.title-box-logo {
    background-color: #AFBDEE;
    width: 100%;
    height: 50%;
    grid-column: 1;
    align-self: end;
    margin-bottom: 20%;
    min-width: 30px;
    min-height: 30px;
}

.menu-title {
    grid-column: 2;
    margin-left: 1%;
   
}

.menu-title a {
    text-decoration: none;
}

.page-name {
    grid-column: 3;
}

.plus-sign {
    display: none;
    position: absolute;
    z-index: 100;
    top: 25px;
    right: 40px;
    max-width: 35px;
    max-height: 35px;
}

.x-sign {
    position: absolute;
    z-index: 100;
    top: 25px;
    right: 40px;
    max-width: 35px;
    max-height: 35px;
}

.menubar {
  display: flex;
  justify-content: space-between;
  width: 100%;       
  margin: 0;         
  padding: 0;       
}

.menubar a {
    text-decoration: none;
}

.menu-button {
    margin-top: .5%;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    font-family: "raleway", sans-serif;
    padding: .5% .5% .5% .5%;
    border: none;
}

.arrow {
    max-width: 50px;
    position: absolute;
    top: 50vh;  
    z-index: 99;
}

#right {
    right: 5vw;
}

#left {
    left: 5vw;
}

button:hover {
    text-decoration: underline;
    border: white 1px solid;
    padding: .5% .5% .5% .5%;
}

/* MAIN PAGE HEADER */

header {

    min-height: 100svh;  
    height: 100svh;      
    padding-bottom: 0;    
    position: relative;   
    overflow: hidden;     
    /* background-image: url(../assets/temp-cover.png); */
    transition: background-image 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
     margin: 0;
     width: 100%;
     display: flex;             
    flex-direction: column;     
    justify-content: space-between; 
    border-bottom: solid 5px #1C2543;
}

.header-filter {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 2;

    background: linear-gradient(
        to bottom,
        rgba(28, 37, 67, 0.65) 0%,     /* stronger tint at top */
        rgba(28, 37, 67, 0.50) 12%,    /* solid protection behind menu */
        rgba(28, 37, 67, 0.28) 32%,    /* smooth softening downward */
        rgba(28, 37, 67, 0.15) 55%,    /* subtle mid-body overlay */
        #1C2543 100%                   /* seamless fade to page bg */
    );
}





header h1 {
    margin: 50% 30% 0% 23%;
    font-size: 300%;
    position: absolute;
}

footer {
  margin: 0 -25% 0 -25%; 
  padding-top: 50%;
  background-color: #1C2543;
}


footer h1 {
    margin: 0 30% 0 23%;
    font-size: 300%;
}

/* main content styling */

main {
    margin: 0 25% 0 25%;
}

.intro-graf {
    margin-bottom: 10%;
    margin-top: 55%;
}

.intro-graf p {
    opacity: .1;
}

p {
    font-size: 125%;
}

/* Widget styling */

#widgets {
    margin-top: 25%;
}

.widget {
    border: white solid 5px;
    padding: 1% 2.5% 1% 2.5%;
    display: grid;
    grid-template-rows: 1fr 5fr 2fr;
    margin-bottom: 2.5em;
    /* opacity: 0; */
    overflow: hidden;
}

.widget h6 {
    grid-row: 1;
    margin: 2.5% 0 0 0;
    font-weight: 200;
}

.widget:hover {
    border-color: black;
}

.imagewidget {
    border: white solid 5px;
    padding: 0 0% 0% 2.5%;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 3fr 2fr;
    max-height: 400px;
    margin-bottom: 2.5em;
    margin-right: 0;
    /* opacity: 0; */
    overflow: hidden;
}

.imagewidget h6 {
    grid-row: 1;
    grid-column: 1;
    margin: 2.5% 0 0 0;
    font-weight: 200;
}

.imagewidget h2 {
    grid-row: 2;
    grid-column: 1;
    font-size: 150%;
    margin-top: 0;
}

.imagewidget p {
    grid-row: 3;
    grid-column: 1;
    margin-right: 2.5%;
    font-size: 100%;
}

.imagewidget h5 {
    grid-row: 4;
    grid-column: 1;
    margin-right: 2.5%;
}

.imagewidget img {
  grid-row: 1 / span 4;
  grid-column: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;       /* fills container, maintains aspect ratio */
  object-position: center; /* centers image if cropped */
  margin-right: 0;         /* remove spacing that causes gaps */
}


.imagewidget:hover {
    border-color: black;
}

/* dataviz box */

/* .data-viz-box, .bar-chart-box {
    margin-bottom: 75%;
    margin-top: 75%;
} */

.dropdown {
    justify-self: center;
    align-self: center;
}

/* STORY BLOCK */

.story-block p {
    font-size: 150%;
    opacity: 1;
    margin-top: 5%;
}

/* SCROLLYTELLING */

#scrolly {
  position: relative;
  width: 100%;
}

.step {
  position: relative;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: translateY(20vh);
}

.step.active {
  opacity: 1;
  transform: translateY(0);
}

.step.past {
  opacity: 0;
  transform: translateY(-20vh);
}

.author-box {
    height: 50%;
}

.abouthead {
    justify-self: center;
}

.about-the-author {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: .25fr .25fr .25fr .25fr;
    margin: 1% 2.5% 1% 2.5%;
    border: white solid 5px;
    border-radius: 25px;
    width: 100%;
}

.about-the-author h3 {
    grid-row: 1;
    grid-column: 1;
    margin: 2.5%;
}

.about-the-author h4 {
    grid-row: 2;
    grid-column: 1;
    margin: 2.5%;
}

.about-the-author p {
    grid-row: 3;
    grid-column: 1;
    margin: 2.5%;
}

.about-the-author h5 {
    grid-row: 4;
    grid-column: 1;
    margin: 2.5%;
    align-self: end;
}

.about-the-author img {
    grid-column: 2;
    grid-row: 1 / span 5;
    width: 100%;
    align-self: center;
    justify-self: right;
    border-radius: 100px;
    border: white solid 1px;
    margin: 2.5%;
    max-width: 250px;
    
}
